<style>
.hero-image-{{ section.id }}{
    background-image: url({{ section.settings.image | img_url: 'master'}});
}

    
}
</style>


<section class="hero hero-image-{{ section.id }}">
    <div class="hero-content">
    <h2 class="hero-header">{{ section.settings.hero_title }}</h2>
    <p>{{ section.settings.subtext }}</p>
    <a href={{section.settings.button_link}} class="cta">{{section.settings.button_text }}</a>
    </div>
</section>